**/node_modules/
**/.next/
**/out/
**/build/
**/coverage/

.env*
!**/.env.example
frontend/config_files/*
!frontend/config_files/.env.example

*.log
*.pem
.DS_Store
.idea/
.vscode/
*.tsbuildinfo
.npm/
.vercel/
/backup/
